.vs-btn.style-orange {
  background-color: white;
  color: ff6600;
  border: none;
  border-radius: 3px;
  padding: 12px 30px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.vs-btn.style-orange:hover {
  background-color: #37d4d9; 
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 102, 0, 0.4);
}